<!DOCTYPE html>
<html>
	<head>
		<title>Preview {{ filename }} </title>
	</head>
	<body>
		<div id="preview">preview not ready</div>
        <script>
        	if (window.location.protocol == 'https:'){
        		protocol = 'wss:';
        	} else {
        		protocol = 'ws:';
        	}
        	const socket = new WebSocket(
        		protocol + '//'
        		+ window.location.host
        		+ '/ws/preview'
        		+ '?filename={{ filename }}'
        	);
        	socket.onmessage = function(e) {
				let current_top = document.documentElement.scrollTop;
				let current_left = document.documentElement.scrollLeft;
        		document.querySelector('#preview').innerHTML = e.data;
				scroll(current_left, current_top);
        	}
        </script>
	</body>
</html>
